<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<main id="MenuMain">
    <div>
        <ul>
            <li class="contact">DELICIOUS MENU</li>
            <li> <img class="line2" src="../assets/img/line.png" alt=""></li>
            <li class="lorem3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Duis at velit maximus, molestie est a, tempor magna.</li>
        </ul>
    </div>

    <div class="menu">
        <h5>SOUPE</h5>
        <h5>PIZZA</h5>
        <h5>PASTA</h5>
        <h5>DESERT</h5>
        <h5>WINE</h5>
        <h5>BEER</h5>
        <h5>DRINKS</h5>
    </div>
</main>

    <article id="MenuArticle">

        <% myData.forEach(data=>{%>
            <div class="div-forEach">
                <h1>
                    <%= data.name %> . . . . <%= data.price %>
                </h1>
                <p>
                    <%= data.disc %>
                </p>
            </div>
            <%}) %>
        <!-- <div>
             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>

             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>

             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>

             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>

             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>

             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>

             <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
             <h4>Integer ullamcorper neque eu purus euismod</h4>
        </div>
        
        <div>
            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>

            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>

            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>

            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>

            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>

            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>

            <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
            <h4>Integer ullamcorper neque eu purus euismod</h4>
       </div>

       <div>
        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>

        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>

        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>

        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>

        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>

        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>

        <p>PIZZA QUATRO STAGIONI . . . . 55,68 USD </p>
        <h4>Integer ullamcorper neque eu purus euismod</h4>
   </div> -->
    </article>

    <%- include('./partials/footer') %>