<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<main id="MenuMain">
    <div>
        <ul>
            <li class="contact">DELICIOUS MENU</li>
            <li> <img class="line2" src="../assets/img/line.png" alt=""></li>
            <li class="lorem3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Duis at velit maximus, molestie est a, tempor magna.</li>
        </ul>
    </div>

    <div class="menu">
        <h5><a href="#">SOUPE</a></h5>
        <h5><a href="#">PIZZA</a></h5>
        <h5><a href="#">PASTA</a></h5>
        <h5><a href="#">DESERT</a></h5>
        <h5><a href="#">WINE</a></h5>
        <h5><a href="#">BEER</a></h5>
        <h5><a href="#">DRINKS</a></h5>
    </div>
</main>

    <article id="MenuArticle">

        <% myData.forEach(data=>{%>
            <div class="div-forEach">
                <h1>
                    <%= data.name %> . . . . <%= data.price %>
                </h1>
                <p>
                    <%= data.disc %>
                </p>
            </div>
            <%}) %>
    </article>

    <%- include('./partials/footer') %>